@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

html,
body {
  font-family: 'Titillium Web', sans-serif;
  overflow-x: hidden;
  margin: 0;
}
.main {
  display: flex;
}
.content {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.main nav {
  order: -1;
  flex: 0 0 10vw;
  min-height: 100vh;
}
header,
content,
nav {
  padding: 1em;
}
header {
  height: 20vh;
}
