.main {
  order: -1;
  min-height: 100vh;
}

.nav {
  min-height: 100vh;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  width: min-content;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.5);
}
.navMini {
  display: none;
}

.item a {
  color: #e7e8ee;
  text-decoration: none;
}

.item a.active {
  background-color: #22d2e2;
  width: max-content;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: 0 0 20px 0 rgb(71, 240, 255, 0.5);
}
.iconMenu {
  display: none;
}
.textMenu {
  font-size: 1.25rem;
  margin: 30px;
  display: flex;
}
.textMenu:hover {
  color: #22d2e2;
  background-color: #e7e8ee;
  display: flex;
  border-radius: 5px;
  transition: 0.4s;
}

.item img {
  width: 20px;
  margin: 2px;
  margin-top: 30px;
}

@media screen and (max-width: 1400px) {
  .item a.active {
    width: min-content;
  }
}
@media screen and (min-width: 1600px) {
  .item a.active {
    width: max-content;
  }
}
@media screen and (min-width: 1700px) {
  .item a {
    width: max-content;
  }
  .item a.active {
    width: max-content;
  }
}
@media screen and (max-width: 570px) {
  .nav {
    display: none;
  }
  .textMenu {
    display: none;
  }
  .navMini {
    width: min-content;
    flex-flow: column;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    background-color: #fff;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.5);
    display: flex;
    min-height: 100vh;
  }
  .iconMenu {
    display: flex;
  }
  .iconMenu:hover {
    border-radius: 50%;
    background-color: #22d2e2;
    box-shadow: 0 0 20px 0 rgb(71, 240, 255, 0.5);
    transition: 0.4s;
  }
}
