.nav {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  width: 200px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.5);
}

.item a {
  color: #e7e8ee;
  text-decoration: none;
}

.item a.active {
  background-color: #22d2e2;
  width: max-content;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: 0 0 20px 0 rgb(71, 240, 255, 0.5);
}
.iconMenu {
  display: none;
}
.textMenu {
  font-size: 1.25rem;
  margin: 30px;
  display: flex;
}
.textMenu:hover {
  color: #22d2e2;
  background-color: #e7e8ee;
  display: flex;
  border-radius: 5px;
  transition: 0.4s;
}

.item img {
  width: 24px;
  margin: 5px;
  margin-top: 30px;
}

@media screen and (max-width: 1715px) {
  .item a.active {
    width: min-content;
  }
}
@media screen and (max-width: 570px) {
  .nav {
    width: 48px;
  }
  .textMenu {
    display: none;
  }
  .iconMenu {
    display: flex;
  }
  .iconMenu:hover {
    border-radius: 50%;
    background-color: #22d2e2;
    box-shadow: 0 0 20px 0 rgb(71, 240, 255, 0.5);
    transition: 0.4s;
  }
}
