.main {
  display: grid;
  grid-template-areas: 'editphoto editprofile ';
  grid-template-columns: 2fr 2fr;
  grid-gap: 5px;
}

.main div {
  border-style: solid;
  border-color: #708090;
  border-width: 5px;
  border-radius: 25px;
}

.main div {
  justify-self: center;
  align-self: center;
}

.main div button {
  margin: 15%;
  border: none;
  outline: none;
  background: none;
}

.editphoto {
  grid-area: editphoto;
}

.editprofile {
  grid-area: editprofile;
}
