.main {
  display: flex;
  align-items: center;
  height: 100px;
  padding-left: 84px;
  position: relative;

  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
}

.profilePhoto {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 84px;
  height: 100%;
}

.profilePreviewInfo {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0 28px 0 0;
}

.profileDescription {
  display: block;
  position: relative;
  width: 200px;
  height: 56px;
  padding: 12px 0 0 32px;
}

.profileDescriptionAvatar {
  display: block;
  position: absolute;
  left: -25px;
  width: 50px;
  height: 56px;
  top: 1;
  margin-left: 0;
}

.profileAvaWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.profileAvaWrapper .roundBorder {
  width: 50px;
  height: 56px;
  position: relative;
  background-color: white;
  border-width: 4px;
  border-radius: 10px;
}

.profileAvaContent {
  position: absolute;
  top: 6px;
  left: 5px;
  z-index: 3;
}

.profileAvaContent .roundedAva {
  width: 40px;
  height: 44px;
  border-width: 4px;
  border-radius: 10px;
  position: relative;
}

.profileFullName {
  color: #3e3f5e;
  font-family: Rajdhani, sans-serif;
  line-height: 1em;
  font-weight: 700;
  text-align: left;
  font-size: 0.9rem;
}

.profileStatus {
  text-align: left;
  font-size: 0.6rem;
  margin-top: 10px;
  color: #adafca;
  font-weight: 700;
  text-transform: uppercase;
}

.profileStats {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

@media only screen and (max-width: 840px) {
  .profileStats {
    display: none;
  }
}

.profileStats .profileStat {
  position: relative;
  padding: 0 24px;
}

.profileStats .profileStat::after {
  content: '';
  width: 1px;
  height: 20px;
  background-color: #eaeaf5;
  position: absolute;
  top: 6px;
  right: 0;
}
.profileStats .profileStat:last-child::after {
  display: none;
}

.profileStats .profileStat .statTitle {
  margin: 0;
  margin-top: 10px;
  color: #adafca;
  font-size: 0.6875rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.profileStats .profileStat .statCounter {
  margin: 0;
  color: #3e3f5e;
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-align: center;
}

.profilePreviewActions {
  display: flex;
  margin-top: 0;
}

.profilePreviewActions .privacyStatus {
  justify-content: center;
  display: flex;
  position: static;
  margin-right: 12px;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 3px 5px 20px 0 rgb(94 92 154 / 10%);
}

.profilePreviewActions .inviteFriend {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 44px;
  background-color: #615dfa;
  box-shadow: 4px 7px 12px 0 rgb(97 93 250 / 20%);
  border-radius: 10px;
}

@media screen and (max-width: 570px) {
  .profileStats {
    display: none;
  }
  .profilePreviewActions {
    flex-direction: column;
    align-items: center;
  }

  .profilePreviewActions > .privacyStatus {
    justify-content: center;
    display: flex;
    position: static;
    margin-right: 0px;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 3px 5px 20px 0 rgb(94 92 154 / 10%);
  }
}
