label {
  top: 16px;
  font-size: 0.875rem;
  color: #adafca;
  font-weight: 600;
  font-family: Rajdhani, sans-serif;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.main {
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: 100%;
  grid-gap: 16px;
  align-items: start;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.sectionFilterBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  margin-top: 30px;
  padding: 0 28px;
  border-radius: 12px;
  box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
  background-color: #fff;
}

.sectionFilterBarActions {
  display: flex;
  align-items: center;
}

.form {
  display: block;
  width: 100%;
}

.formInputSmallWithButton {
  position: relative;
  width: 240px;
  font-size: 80%;
  font-weight: 400;
}

.searchLabel {
  top: 16px;
  font-family: Rajdhani, sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #adafca;
  left: 20px;
}

.friendsSearch {
  padding-right: 82px;
  height: 48px;
  font-size: 0.875rem;
  padding: 0 18px;
  background-color: #fff;
  border: 1px solid #dedeea;
  color: #3e3f5e;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
  outline: none;
  border-radius: 12px;
}

.friendsSearch:focus {
  border-color: #615dfa;
}
.friendsSearch:focus .searchLabel {
  background-color: #fff;
  padding: 0 6px;
  font-size: 0.75rem;
  top: -6px;
  left: 12px;
}

@media screen and (max-width: 490px) {
  .formInputSmallWithButton {
    width: 200px;
  }
  .sectionFilterBar {
    width: auto;
  }
}
