.main {
  display: grid;
  grid-template-areas:
    'f c c'
    'r r r'
    'r r r';
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.friends {
  grid-area: f;
}
.counter {
  grid-area: c;
}
.friendlist {
  grid-area: r;
}
