.main {
  display: grid;
  grid-template-areas: 'f f c';
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.friends {
  grid-area: f;
}
.counter {
  grid-area: c;
}

.friendlist {
  width: 100%;
}
