.main {
  display: grid;
  grid-template-areas: 'ava ava';
  grid-template-columns: 2fr 2fr;
  grid-gap: 5px;
}

.main div {
  border-style: solid;
  border-color: #708090;
  border-width: 5px;
  border-radius: 25px;
}

.ava {
  grid-area: ava;
}

.ava img {
  width: 100%;
}
