@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/open-sans-v18-latin-regular.woff2')
      format('woff2'),
    url('./assets/fonts/open-sans-v18-latin-regular.woff')
      format('woff');
}

html,
body {
  font-family: 'Open Sans', sans-serif;
}

.appWrapper {
  display: grid;
  margin: 0 auto;
  width: 1200px;
  grid-template-areas:
    'h h h'
    'n c c';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.appContentWrapper {
  padding: 10px;
  grid-area: c;
  background-color: #f0e4c6;
}
